.productdata-data-container {
    padding: 20px;
    text-align: center;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .navigate-btns{
 background-color: #28a745;
 height: 50px;
 text-align: center;

  }
  .navbtns{
    height: 30px;
    margin: 10px;
    border-radius: 30px;
    width: 80px;
  }
  
  .product-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: left;
  }
  
  .product-image img {
    width: 100%;
    height: 200px;
    
    border-radius: 10px 10px 0 0;
  }
  
  .product-details {
    padding: 10px;
  }
  
  .description {
    font-size: 0.9rem;
    color: #666;
  }
  
  .price {
    font-weight: bold;
    color: #333;
  }
  
  .colour {
    font-size: 0.85rem;
    color: #555;
  }
  
  .buy-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .buy-btn:hover {
    background-color: #218838;
  }
  